@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar for all elements */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
